* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: #dce2e6;
  position: relative;
  height: 100%;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 980px;
  background-color: #ffffff;
  box-shadow: 0px 0px 55px 0px #b4c3ce;

  padding-top: 44px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
}

.card-img-wrapper{
}

.card-img {
  position: absolute;
  left: -192px;
  top: 50%;
  transform: translate(0, -50%);
  max-width: initial;
}

.card-content-wrapper {
  float: right;
  width: 441px;
}
.card-title {
  margin-bottom: 26px;
  font-weight: 500;
  color: black;
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
}

.card-details-wrapper {
  margin-bottom: 31px;
}

.card-lable {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1;
  color: #bfc5c8;
  font-weight: 500;
  text-transform: uppercase;
}

.card-price {
  color: black;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.card-colors-wrapper {
  margin-top: 14px;
}

.card-colors-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.card-color {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  background: #000;
}

.card-color-yellow {
  background-color: #f5cb2e;
  background: linear-gradient(
    135deg,
    rgba(254, 246, 118, 1) 0%,
    rgba(237, 182, 29, 1) 100%
  );
}

.card-color-red {
  background-color: #d70909;
  background: linear-gradient(
    135deg,
    rgba(239, 31, 31, 1) 0%,
    rgba(191, 12, 12, 1) 100%
  );
}

.card-color-gray {
  background-color: #909090;
  background: linear-gradient(
    135deg,
    rgba(165, 165, 165, 1) 0%,
    rgba(115, 115, 115, 1) 100%
  );
}

.card-color-active {
  border: 4px solid #393939;
}

.card-text {
  margin-top: 35px;
  margin-bottom: 39px;
  color: #6c757f;
  font-size: 16px;
  font-weight: 300;
}

.card-text p {
  margin-bottom: 17px;
  line-height: 1.3;
}

.card-buttons-wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.button-primary {
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 68px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  background-color: #ffd01e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  line-height: 64px;
  color: #000;
}

.button-outline {
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 68px;
  padding-left: 31px;
  padding-right: 29px;
  border: 3px solid #545454;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  line-height: 59px;
  color: #545454;
}
