* {
  box-sizing: border-box;
}
html{
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  position: relative;
  background-color: rgb(227, 242, 253);
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, p, ul {
  margin: 0px;
  padding: 0px;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 967px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 55px 0px rgba(181, 220, 248, 0.9);
  padding: 60px 70px 40px 70px;
 
}
.card::after{
  content: "";
  display: table;
  clear: both;
}

.card-img-wrapper{float: left;}

.img-card{
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.card-text-wrapper{
  float: right;
  width: 426px;
  margin-top: 9px;
  
}

h3{
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  color: #bfc5c8;
}

h1{
  margin-bottom: 22px;
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.2;
  color: #01a4bd;
}

p{
  font-weight: 400;
  font-size: 15px;
  color: #6c757f;
  line-height: 1.2;
  margin-bottom: 15px;
}

p:last-child{margin-bottom: 0px;}

.card-details-lable{
  font-size: 18px;
  font-family: 'Noto Serif', serif;;
  color: rgb(191, 197, 200);
  font-weight: 700;
}

.card-details-wrapper{margin-bottom: 22px;}

.card-details-price{
  font-size: 28px;
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;

}

.card-button{
  display: inline-block;
  border-radius: 5px;
  background-color: #e2013b;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 8px 35px 13px 33px;
  text-decoration: none;
}