:root {
  --blue: #009ce6;
  --red: #eb736d;
  --yellow: #fbdd4c;
  --line: #fbdc4d;
  --basecolor: #000000;
  --text: #0f0f0f;
  --textbg: #fbdd4c;
  --inhov: #0077b7;
  --inaact: #0077b7;
  --githov: #6cc742;
  --gitact: #6cc742;
  --vkhov: #43668f;
  --vkact: #43668f;
  --btnbas: #fbdd4c;
  --btnhov: #ffd300;
  --btnact: #e2be08;
  --btn2bas: #444444;
  --btn2hov: #797979;
  --btn2act: #101010;
  --linkbas: #212121;
  --linkhov: #009ce6;
  --linkact: #eb655e;
  --bgport: #f4f8f9;
  --titleportbas: #90a6af;
  --titleporthov: #ee564e;
  --titleportact: #ee574f;
  --portimghov: rgba(251, 222, 76, 0.6);
  --portimgact: rgba(251, 222, 76, 0.75);
  --titleimghov: #ee564e;
  --titleimgact: #ee564e;
  --textbtnimgbas: #eb736d;
  --textbtnimghov: #ffffff;
  --textbtnimgact: #ffffff;
  --btnbgimgbas: #ffffff;
  --btnbgimghov: #eb736d;
  --btnbgimgact: #d54038;
  --worklinebtnbas: #fbdd4c;
  --worklinebtnact: #eb736d;
  --formact: #eb736d;
  --formfocus: #eb736d;
  --mobnextbas: #303030;
  --mobnextbas: #656565;
  --mobnextbas: #0c0c0c;
  --textfooter: #b2b2b2;
  --textfooteract: #dadada;
  --textfooterfocus: #dadada;
  --bgcontc: #f4f8f9;
  --fontreg: 'M PLUS 1p';
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--basecolor);
  position: relative;
  font-family: var(--fontreg);
}
.noscroll {
  overflow: hidden;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
#overlay.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
a,
a:hover {
  text-decoration: none;
}
a::-moz-selection {
  background: var(--textbg);
}
a::selection {
  background: var(--textbg);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  margin: 0;
  padding: 0;
}
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
span::-moz-selection,
li::-moz-selection {
  background: var(--textbg);
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
li::selection {
  background: var(--textbg);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}
.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
.bottom-line {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.bottom-line::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -5px;
  right: -5px;
  height: 10px;
  z-index: -1;
  background-color: var(--line);
}
.button {
  display: inline-block;
  height: 60px;
  line-height: 50px;
  padding: 0 37px;
  font-family: var(--fontreg);
  -webkit-border-radius: 32px;
     -moz-border-radius: 32px;
          border-radius: 32px;
  border: 4px solid var(--btn2bas);
  color: var(--btn2bas);
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.button:hover {
  border: 4px solid var(--btn2hov);
  color: var(--btn2hov);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.button:active {
  border: 4px solid var(--btn2act);
  color: var(--btn2act);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.acquaint {
  background-color: var(--btnbas);
  border: 4px solid var(--btnbas);
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.acquaint:hover {
  background-color: var(--btnhov);
  border: 4px solid var(--btnhov);
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.acquaint:active {
  background-color: var(--btnact);
  border: 4px solid var(--btnact);
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.social-list {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.social-list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  color: #fff;
  font-size: 24px;
}
.social-list a:last-child {
  margin-right: 0;
}
.social-list .item-git {
  font-size: 24px;
  color: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.social-list .item-git:hover {
  color: #fbdc4d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
@media (min-width: 1200px) {
  .social-list {
    padding-left: 11px;
  }
}
.section-title {
  margin-bottom: 40px;
  color: #000000;
  font-family: var(--fontreg);
  font-size: 42px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 52px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 64px;
    margin-bottom: 70px;
  }
}
.section-sub-title {
  margin-bottom: 15px;
  color: #000000;
  font-family: var(--fontreg);
  font-size: 26px;
  font-weight: 800;
}
.flex-wrapper {
  display: block;
}
@media (min-width: 768px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.none {
  display: none;
}
.header {
  width: 100%;
  min-width: 320px;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-top: 35px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    padding-bottom: 240px;
    background-image: url(../img/header/linebg.jpg);
    background-repeat: repeat-y;
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
  }
}
.header__nav {
  max-width: 1400px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 17px;
  padding-right: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__nav {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    margin-bottom: 142px;
    padding: 0;
  }
}
.logo {
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.logo::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -2px;
  right: -2px;
  height: 10px;
  background-color: #fbdc4d;
  z-index: -1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.logo:hover {
  color: #fbdc4d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.logo:hover::after {
  background-color: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.nav-list {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 360px;
  padding-top: 30px;
  padding-left: 17px;
  background-color: #fff;
  z-index: 5;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.nav-list .logo-mob {
  margin-bottom: 40px;
}
.nav-list a {
  margin-left: 15px;
}
.nav-list .item-desktop {
  display: none;
}
.nav-list .item-mob {
  display: block;
}
.nav-list .email {
  color: var(--blue);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.nav-list .email::after {
  background-color: var(--blue);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.nav-list .email:hover::after {
  background-color: var(--yellow);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.nav-list .email:hover {
  color: var(--yellow);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
@media (min-width: 768px) {
  .nav-list {
    padding-left: 30px;
  }
  .nav-list a {
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    height: auto;
    width: auto;
    max-width: unset;
    padding-left: 21px;
    background-color: transparent;
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-list .item-desktop {
    display: block;
  }
  .nav-list .item-mob {
    display: none;
  }
  .nav-list .email {
    display: none;
  }
  .nav-list .logo-mob {
    display: none;
  }
}
.nav-list.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.nav-list-item {
  position: relative;
  z-index: 2;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.nav-list-item:nth-last-child(2) {
  margin-bottom: 40px;
}
.nav-list-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.nav-list-item:hover::after {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background-color: var(--yellow);
}
.nav-list-item:focus {
  border-style: dotted ;
  border-color: #ea736d ;
}
.nav-list-item:focus::after {
  width: 0%;
}
@media (min-width: 1200px) {
  .nav-list-item {
    margin-bottom: 0;
  }
  .nav-list-item:nth-last-child(2) {
    margin-bottom: 0px;
  }
  .nav-list-item + .nav-list-item {
    margin-left: 79px;
  }
  .nav-list-item::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fbdc4d;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
  }
  .nav-list-item:hover::after {
    width: 100%;
  }
}
.mobile-contacts .social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.mobile-contacts .social-list a {
  margin-right: 0;
  margin-bottom: 20px;
}
.mobile-contacts .social-list a:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .mobile-contacts .social-list a {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .mobile-contacts .social-list {
    display: none;
  }
}
.toggle-menu {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 6;
}
.toggle-menu span {
  width: 100%;
  height: 4px;
  background-color: #000;
  margin: auto;
  position: relative;
}
.toggle-menu span::after,
.toggle-menu span::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.toggle-menu span::after {
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}
.toggle-menu span::before {
  -webkit-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
       -o-transform: translateY(-10px);
          transform: translateY(-10px);
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.active span {
  height: 0;
}
.active span::before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.active span::after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-social {
  display: none;
}
@media (min-width: 1200px) {
  .nav-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav-social-item {
  display: block;
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}
.nav-social-item:last-child {
  margin-right: 0;
}
.nav-social-item:hover {
  color: #fbdc4d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.nav-social-item:first-child:hover {
  color: #4ac85a;
}
.nav-social-item:last-child:hover {
  color: #4d76a1;
}
@media (min-width: 1200px) {
  .nav-social-item {
    padding-top: 11px;
  }
}
.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .header__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .header__content {
    padding: 0px;
  }
}
.header__content-text {
  width: 100%;
  max-width: 285px;
}
@media (min-width: 768px) {
  .header__content-text {
    width: 49%;
    max-width: 335px;
  }
}
@media (min-width: 1200px) {
  .header__content-text {
    width: 49%;
    max-width: 566px;
  }
}
.header__content-text h1 {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .header__content-text h1 {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .header__content-text h1 {
    margin-bottom: 16px;
  }
}
.header__content-text p {
  margin-bottom: 34px;
  color: #393f47;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .header__content-text p {
    font-size: 24px;
    line-height: 36px;
  }
}
.header-title {
  position: relative;
  color: #000000;
  font-size: 42px;
  font-weight: 800;
  z-index: 2;
  line-height: 1.2;
}
.header-title:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: -3px;
  right: -3px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
}
@media (min-width: 768px) {
  .header-title {
    font-size: 52px;
  }
  .header-title:after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .header-title {
    font-size: 90px;
  }
  .header-title:after {
    bottom: 22px;
  }
}
.buttons {
  display: none;
}
@media (min-width: 768px) {
  .buttons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttons .button {
    margin-right: 20px;
  }
  .buttons .button:last-child {
    margin-right: 0;
  }
}
.header__content-photo {
  position: relative;
  width: 100%;
  max-width: 290px;
  height: auto;
  margin-bottom: 60px;
}
.header__content-photo::after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 8%;
  left: 8%;
  background: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f4f8f9), to(rgba(244, 248, 249, 0)));
  background-image: -webkit-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -moz-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -o-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
}
@media (min-width: 768px) {
  .header__content-photo {
    width: 46%;
  }
  .header__content-photo:after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 15%;
    background: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
}
@media (min-width: 1200px) {
  .header__content-photo {
    max-width: 457px;
    padding-top: 27px;
  }
  .header__content-photo:after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 30%;
    background: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
}
.header__img {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  -webkit-transform: scale(1.8);
     -moz-transform: scale(1.8);
      -ms-transform: scale(1.8);
       -o-transform: scale(1.8);
          transform: scale(1.8);
}
@media (min-width: 425px) {
  .header__img {
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header__img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header__img {
    margin-top: -116px;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header__img {
    margin-bottom: 20px;
    margin-top: -189px;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    max-width: 1600px;
  }
}
@media (min-width: 1200px) {
  #my-skills {
    margin-top: -385px;
    padding-top: 350px;
  }
}
.about__skills-title {
  margin-bottom: 26px;
  color: #000000;
  font-size: 30px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .about__skills-title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .about__skills-title {
    font-size: 40px;
  }
}
.about__skills {
  width: 100%;
}
@media (min-width: 768px) {
  .about__skills {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .about__skills {
    width: 53%;
  }
}
.about__skills .acquaint {
  display: none;
}
@media (min-width: 1200px) {
  .about__skills .acquaint {
    display: inline-block;
  }
}
.about__skills-list {
  margin-bottom: 45px;
}
@media (min-width: 1200px) {
  .about__skills-list {
    margin-bottom: 40px;
  }
}
.list-item {
  position: relative;
  margin-bottom: 20px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
.list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .list-item {
    font-size: 24px;
    padding-left: 30px;
    margin-bottom: 3px;
  }
}
.about__social {
  width: 100%;
}
@media (min-width: 768px) {
  .about__social {
    width: 46%;
  }
}
@media (min-width: 1200px) {
  .about__social {
    width: 32%;
  }
  .about__social .about__skills-title {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .custom::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0px;
    margin: auto;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
  }
}
.item-tel {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #039be5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.item-tel:hover {
  background-color: #4ac85a;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.item-vk {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #4d76a1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.item-vk:hover {
  background-color: #fbdc4d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.item-face {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #3b5998;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.item-face:hover {
  background-color: #fbdc4d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.email {
  position: relative;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.email::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 2px;
  left: 0;
  right: 0;
  background-color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.email:hover {
  color: var(--linkhov);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.email:hover::after {
  background-color: var(--linkhov);
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
@media (min-width: 1200px) {
  .email {
    padding-left: 5px;
  }
}
.section-portfolio {
  padding: 50px 0 96px;
  background-color: var(--bgport);
}
.section-portfolio .bottom-line:after {
  bottom: 11px;
  height: 10px;
}
@media (min-width: 1200px) {
  .section-portfolio .section-title {
    margin-bottom: 46px;
  }
}
@media (min-width: 768px) {
  .section-portfolio {
    padding: 81px 0 78px;
  }
  .section-portfolio .bottom-line:after {
    bottom: 15px;
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding: 128px 0 121px;
  }
  .section-portfolio .bottom-line:after {
    bottom: 18px;
    height: 12px;
  }
}
.section-portfolio__platform {
  display: none;
}
@media (min-width: 768px) {
  .section-portfolio__platform {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .section-portfolio__platform .black {
    color: #000;
  }
  .section-portfolio__platform .black:hover {
    color: #000;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__platform {
    margin-bottom: 43px;
  }
}
.platform__title {
  color: var(--titleportbas);
  font-family: var(--fontreg);
  font-size: 28px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .section-portfolio__sub-title {
    margin-right: 50px;
    color: var(--titleportbas);
    font-family: var(--fontreg);
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .section-portfolio__sub-title:last-child {
    margin-right: 0;
  }
  .section-portfolio__sub-title:hover {
    color: var(--titleporthov);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  .section-portfolio__sub-title:active {
    color: var(--titleportact);
  }
}
@media (min-width: 1200px) {
  .section-portfolio__sub-title {
    margin-right: 73px;
    font-size: 30px;
  }
}
.content-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .content-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .content-top {
    margin-bottom: 60px;
  }
}
.content-top-item {
  width: 100%;
  max-width: 290px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .content-top-item {
    width: 48%;
    max-width: 338px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .content-top-item {
    width: 49%;
    max-width: 556px;
  }
}
.portfolio-img-link {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--yellow);
  margin-bottom: 20px;
}
.portfolio-img-link img {
  height: 200px;
}
@media (min-width: 768px) {
  .portfolio-img-link {
    margin-bottom: 0;
  }
  .portfolio-img-link img {
    height: 240px;
  }
}
@media (min-width: 1200px) {
  .portfolio-img-link {
    margin-bottom: 22px;
  }
  .portfolio-img-link img {
    height: 370px;
  }
}
.portfolio-img-link .more-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: 700;
  color: var(--textbtnimgbas);
  line-height: 50px;
  background-color: #fff;
  padding: 0 41px;
  -webkit-border-radius: 32px;
     -moz-border-radius: 32px;
          border-radius: 32px;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.portfolio-img-link .more-button:hover {
  background-color: var(--btnbgimghov);
  color: #fff;
}
.portfolio-img-link .more-button:active {
  background-color: var(--btnbgimgact);
}
.portfolio-img-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--portimghov);
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.portfolio-img-link:hover::before {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}
.portfolio-img-link:hover .more-button {
  opacity: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.content__title {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 10px;
  color: #000000;
  font-family: var(--fontreg);
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.content__title:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 4px;
  left: 0;
  background-color: var(--titleimghov);
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.content__title:hover {
  color: var(--titleimghov);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.content__title:hover:after {
  width: 100%;
}
@media (min-width: 768px) {
  .content__title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .content__title {
    font-size: 32px;
    margin-bottom: 2px;
  }
}
.content__sub-title {
  color: #000000;
  font-family: var(--fontreg);
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .content__sub-title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .content__sub-title {
    font-size: 22px;
  }
}
.content-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .content-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .content-bottom {
    margin-bottom: 60px;
  }
}
.content-bottom-item {
  width: 100%;
  max-width: 290px;
  margin-bottom: 45px;
}
.content-bottom-item .portfolio-img-link {
  margin-bottom: 20px;
  background-color: var(--yellow);
}
.content-bottom-item .portfolio-img-link img {
  height: 200px;
}
@media (min-width: 768px) {
  .content-bottom-item .portfolio-img-link img {
    height: 240px;
  }
}
@media (min-width: 1200px) {
  .content-bottom-item .portfolio-img-link img {
    height: 239px;
  }
}
.content-bottom-item .content__title {
  font-size: 22px;
}
.content-bottom-item .content__sub-title {
  font-size: 16px;
}
.content-bottom-item .content__title::after {
  bottom: 2px;
}
@media (min-width: 768px) {
  .content-bottom-item {
    width: 48%;
    max-width: 338px;
    margin-bottom: 0px;
  }
  .content-bottom-item .content__title {
    font-size: 24px;
  }
  .content-bottom-item .content__sub-title {
    font-size: 18px;
  }
  .content-bottom-item:last-child {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content-bottom-item {
    width: 32%;
    max-width: 360px;
  }
  .content-bottom-item .portfolio-img-link {
    margin-bottom: 21px;
  }
  .content-bottom-item .content__title {
    font-size: 26px;
  }
  .content-bottom-item .content__sub-title {
    font-size: 20px;
  }
  .content-bottom-item:last-child {
    display: block;
  }
}
.link-all-works {
  display: block;
  position: relative;
  color: #039be5;
  font-family: var(--fontreg);
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.link-all-works::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 2px;
  left: 0;
  right: 0;
  background-color: #039be5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.link-all-works:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: var(--linkact);
}
.link-all-works:active {
  color: var(--linkact);
}
.link-all-works:hover::after {
  background-color: var(--linkact);
}
.link-all-works:active::after {
  background-color: var(--linkact);
}
@media (min-width: 1200px) {
  .link-all-works {
    display: none;
  }
}
.section-work {
  min-width: 320px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 65px;
  background-image: url(../img/work/bg-work.jpg);
  background-repeat: repeat-y;
  -moz-background-size: auto;
       background-size: auto;
  background-position: center;
}
@media (min-width: 768px) {
  .section-work {
    max-width: 738px;
    padding: 90px 0;
  }
}
@media (min-width: 1200px) {
  .section-work {
    max-width: 1600px;
    padding: 126px 0;
  }
}
.title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-wrapper .section-title {
  margin-bottom: 50px;
  font-size: 38px;
}
@media (min-width: 768px) {
  .title-wrapper .section-title {
    margin-bottom: 162px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-wrapper .section-title {
    font-size: 64px;
    margin-bottom: 162px;
  }
}
.title-wrapper .bottom-line:after {
  bottom: 11px;
  height: 10px;
}
@media (min-width: 768px) {
  .title-wrapper .bottom-line:after {
    bottom: 14px;
    height: 12px;
  }
}
@media (min-width: 1200px) {
  .title-wrapper .bottom-line:after {
    bottom: 18px;
    height: 12px;
  }
}
.section-work__content {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .section-work__content {
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .section-work__content {
    width: 1005px;
  }
}
.work-item {
  padding-left: 97px;
  position: relative;
  margin-bottom: 65px;
  min-height: 200px;
}
.work-item::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 134px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #e1eef4;
  top: 108px;
  bottom: 0;
  left: 37px;
}
.work-item:first-child::before {
  content: '';
  position: absolute;
  width: 4px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #e1eef4;
  right: 0;
  top: 0;
  height: 57px;
  display: none;
}
.work-item:last-child::after {
  display: none;
}
.work-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .work-item {
    width: 50%;
  }
  .work-item:nth-child(1) {
    margin-bottom: 25px;
    padding-left: 25px;
  }
  .work-item:nth-child(2) {
    margin-bottom: 44px;
    padding-left: 0;
  }
  .work-item:nth-child(2)::after {
    left: 0;
    top: 95px;
    height: 111px;
  }
  .work-item:nth-child(3) {
    margin-bottom: 44px;
    padding-left: 0;
  }
  .work-item:nth-child(3)::after {
    height: 128px;
    top: 77px;
  }
  .work-item:nth-child(3) .work-item__text-info {
    margin-bottom: 3px;
  }
  .work-item:nth-child(3) .work-item__text-time {
    padding-right: 2px;
  }
  .work-item:nth-child(4) {
    margin-bottom: 15px;
    padding-left: 0;
  }
  .work-item:nth-child(4)::after {
    left: 0;
    top: 77px;
    height: 98px;
  }
  .work-item:nth-child(4) .work-item__text-title {
    margin-bottom: 7px;
  }
  .work-item:nth-child(4) .work-item__text-info {
    margin-bottom: 4px;
  }
  .work-item:nth-child(5) {
    padding-left: 0;
  }
  .work-item:nth-child(5) .work-item__text-title {
    margin-bottom: 7px;
  }
  .work-item:nth-child(5) .work-item__text-info {
    margin-bottom: 3px;
  }
  .work-item::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 108px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #e1eef4;
    top: 78px;
    bottom: 0;
    left: 37px;
  }
  .work-item:nth-child(2n) {
    text-align: left;
    margin-left: auto;
    padding-left: 85px;
  }
  .work-item:nth-child(2n+1) {
    text-align: right;
    padding-right: 78px;
  }
  .work-item:nth-child(2n+1) h3 {
    text-align: right;
    margin-left: auto;
  }
  .work-item .work-item__icon {
    top: -18px;
  }
  .work-item:nth-child(2n) .work-item__icon {
    left: -37px;
  }
  .work-item:nth-child(2n+1) .work-item__icon {
    left: auto;
    right: -37px;
  }
  .work-item:nth-child(2n+1)::after {
    left: auto;
    right: 0;
  }
  .work-item:first-child::before {
    display: block;
    top: -93px;
  }
}
.work-item__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 74px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
          box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
}
.work-item__text {
  cursor: pointer;
}
.work-item__text .bottom-line::after {
  display: none;
}
@media (min-width: 1200px) {
  .work-item__text .work-item__text-title::after {
    height: 7px;
    bottom: 5px;
    left: 0;
    right: 0;
  }
  .work-item__text .bottom-line::after {
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
  }
  .work-item__text:hover .bottom-line::after {
    background-color: var(--worklinebtnact);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
  }
}
.work-item__text-title {
  color: #000000;
  font-size: 20px;
  font-weight: 800;
  z-index: 1;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .work-item__text-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .work-item__text-title {
    font-size: 26px;
  }
}
.work-item__text-info {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .work-item__text-info {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .work-item__text-info {
    font-size: 18px;
  }
}
.work-item__text-time {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .work-item__text-time {
    font-size: 18px;
  }
}
.section-contacts {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .section-contacts {
    padding-top: 72px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f4f8f9;
    background-image: url(../img/contacts/bg-contacts.jpg);
    background-repeat: repeat-y;
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
  }
}
@media (min-width: 768px) {
  .section-contacts .title-wrapper {
    padding-left: 33px;
  }
}
@media (min-width: 1200px) {
  .section-contacts .title-wrapper {
    padding-left: 0;
  }
}
.section-contacts .flex-wrapper {
  padding-right: 20px;
}
.section-contacts .section-title {
  margin-bottom: 40px;
  font-size: 42px;
}
@media (min-width: 768px) {
  .section-contacts .section-title {
    margin-bottom: 57px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .section-contacts .section-title {
    font-size: 64px;
  }
}
.contacts-text {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .contacts-text {
    width: 43%;
  }
  .contacts-text .social-list {
    margin-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .contacts-text {
    width: 46%;
  }
  .contacts-text::before {
    content: '';
    position: absolute;
    width: 450px;
    height: 280px;
    background-image: url(../img/contacts/quote.png);
    background-repeat: repeat-y;
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    top: 2%;
    left: -65%;
  }
}
.form-wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .form-wrapper {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .form-wrapper {
    width: 46%;
  }
}
.contacts-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 28px 40px #c2dbeb;
     -moz-box-shadow: 0 28px 40px #c2dbeb;
          box-shadow: 0 28px 40px #c2dbeb;
}
@media (min-width: 768px) {
  .contacts-form {
    padding: 67px 25px 40px;
  }
}
@media (min-width: 1200px) {
  .contacts-form {
    padding: 77px 60px 40px;
  }
}
.contacts-text__top {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .contacts-text__top {
    font-size: 18px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .contacts-text__top {
    font-size: 20px;
    margin-bottom: 43px;
    padding-top: 22px;
  }
}
.contacts-list {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts-list {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts-list {
    margin-bottom: 48px;
  }
}
.contacts-list-item {
  display: block;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .contacts-list-item {
    margin-bottom: 16px;
  }
}
.contacts-list-item p {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contacts-list-item p {
    margin-bottom: 4px;
  }
}
.contacts-list-item .email {
  padding: 0;
}
.contacts-list-item .email:after {
  background-color: var(--titleimghov);
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.contacts-list-item a {
  position: relative;
  font-size: 18px;
  color: var(--linkhov);
  line-height: 1.2;
  font-weight: 500;
  -webkit-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  -moz-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}
.contacts-list-item a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -1px;
  left: 0;
  background-color: var(--titleimghov);
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
@media (min-width: 1200px) {
  .contacts-list-item a {
    font-size: 20px;
  }
}
.contacts-list-item a:hover {
  color: var(--titleimghov);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.contacts-list-item a:hover:after {
  width: 100%;
}
.contacts-list-item .gray {
  font-size: 20px;
  color: #96969d;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .contacts-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 28px;
  }
  .contacts-list-item:last-child {
    margin-bottom: 0;
  }
  .contacts-list-item p:first-child {
    min-width: 95px;
    margin-right: 100px;
    font-size: 20px;
    margin-bottom: 0;
  }
}
.form-item {
  width: 100%;
  position: relative;
}
.form-item:nth-child(1) {
  margin-bottom: 45px;
}
.form-item:nth-child(2) {
  margin-bottom: 45px;
}
.form-item:nth-child(3) {
  margin-bottom: 20px;
}
.form-item .button {
  width: 100%;
  font-size: 20px;
  height: 64px;
}
@media (min-width: 1200px) {
  .form-item .button {
    width: auto;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .form-item:nth-child(1) {
    margin-bottom: 64px;
  }
  .form-item:nth-child(2) {
    margin-bottom: 55px;
  }
  .form-item:nth-child(3) {
    margin-bottom: 40px;
  }
}
.form-item .form-field {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 11px;
  color: #000000;
  font-family: var(--fontreg);
  font-size: 20px;
  font-weight: 700;
}
.form-item .form-textarea {
  outline: none;
  border: none;
  overflow: auto;
  resize: none;
  width: 100%;
  height: 111px;
  border-bottom: 2px solid #eaeaea;
  color: #000000;
  font-family: var(--fontreg);
  font-size: 20px;
  font-weight: 700;
}
.fake-placeholder {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0px;
  color: #bcbcbc;
  font-family: var(--fontreg);
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.fake-placeholder.active {
  color: #ed9626;
  font-size: 16px;
  font-weight: 700;
  top: -20px;
}
.error {
  font-size: 14px;
  color: #43668f;
}
.footer {
  width: 100%;
  min-width: 320px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 0;
  background-color: #333333;
  overflow: hidden;
}
.footer .copyright {
  margin-bottom: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .footer .copyright {
    font-size: 18px;
  }
}
.footer p {
  color: #b0b0b0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .footer p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .footer p {
    font-size: 16px;
  }
}
.footer a {
  position: relative;
  display: inline-block;
  color: #b0b0b0;
  font-weight: 400;
  line-height: 1.5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.footer a::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 1px;
  bottom: 2px;
  left: 0;
  right: 0;
  background-color: #b0b0b0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.footer a:hover::after {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #fff;
}
.footer a:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  color: #fff;
}
.footer__content {
  padding-left: 10px;
  padding-right: 10px;
}
/*# sourceMappingURL=main.css.map */