.footer{
    min-width: 320px;
    padding: 40px 20px 40px 15px;
    background-color: #333333;
}

.footer__content{

    .copyright{
        margin-bottom: 20px;
        color: #fff;
        font-size: 18px;
        font-weight: 500; 
    }

    p{
        color: #b0b0b0;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
    }

    a{
        color: #b0b0b0;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: underline;
        transition: .3s;

        &:hover{
            transition: .3s;
            color: #fff;
        }
    }
}


