.header{
    width: 100%;
    min-width: 320px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    @media(min-width: 768px){
        padding-top: 35px;
        padding-bottom: 65px;
    }
    
    @media(min-width: 1200px){
        max-width: 1600px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding-top: 75px;
        padding-bottom: 240px;
        background-image: url(../img/header/linebg.jpg);
        background-repeat: repeat-y;
        background-size: auto;
        background-position: center;
    }
}

// ЛОГО____НАВИГАЦИЯ____СОЦИАЛ
.header__nav{
    max-width: 1400px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 768px){
        padding: 0 30px;
        margin-bottom: 80px;
    }
    
    @media(min-width: 1200px){
        margin-bottom: 142px;
        padding: 0;
    }
}

.logo{
    font-size: 42px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    line-height: 1.2; 
    position: relative;
    z-index: 2;
    transition: .5s;

    &::after{
        content: '';
        position: absolute;
        bottom: 5px;
        left: -2px;
        right: -2px;
        height: 10px;
        background-color: #fbdc4d;
        z-index: -1;
        transition: .5s;
    
    }
    &:hover{
        color: #fbdc4d;
        transition: .5s;
    }

    &:hover::after{
        background-color:#000;
        transition: .5s;
    }
}
// Мобильная навигация
.nav-list{ 
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 360px;
    padding-top: 30px;
    padding-left: 17px;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 5;
    transition: .5s;

    .logo-mob{
        z-index: 4;
        margin-bottom: 40px;
    }

    a{margin-left: 15px;}

    .item-desktop{display: none;}

    .item-mob{display: block;}

    .email{
        color: var(--blue);
        transition: .3s;
    
        &::after{
            background-color: var(--blue);
            transition: .3s;
        }

        &:hover::after{
            background-color: var(--yellow);
            transition: .3s;
        }

        &:hover{
            color:var(--yellow);
            transition: .3s;
        }
    }
    
    @media(min-width: 768px){
        padding-left: 30px;

        a{margin-left: 0px;}
    }
    // Десктоп навигация
    @media(min-width: 1200px){
        display: flex;
        justify-content: space-between;
        position: relative;
        height: auto;
        width: auto;
        max-width: unset;
        padding-left: 21px;
        background-color: transparent;
        transform: translateX(0%);

        .item-desktop{display: block;}

        .item-mob{display: none;}

        .email{display: none;}

        .logo-mob{display: none;}
    }
}
// Мобильная навигация
.nav-list.active{transform: translateX(0%);}

.nav-list-item{
    position: relative;
    z-index: 4;
    display: block;
    text-decoration: none;
    
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);

    margin-bottom: 20px;
    width: fit-content;
    transition: .3s;

    &:nth-last-child(2){margin-bottom: 40px;}

    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        transition: .3s;
    }

    &:hover::after{
        transition: .3s;
        background-color: var(--yellow);
    }

    &:focus{
        border-style: dotted ; 
        border-color:#ea736d ;
    }

    &:focus::after{
        width: 0%;
    }

// Десктоп навигация
    @media(min-width: 1200px){
        margin-bottom: 0;

        &:nth-last-child(2){margin-bottom: 0px;}

        &+.nav-list-item{margin-left: 79px;}

        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 2px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #fbdc4d;
            transition: .5s;
        }
    
        &:hover::after{
            width: 100%;
        }
    }
}
// Мобильная навигация
.mobile-contacts .social-list{
    display: flex;
    margin-bottom: 10px;
    a{
        margin-right: 0;
        margin-bottom: 20px;

        &:last-child{margin-bottom: 0;}

    }
    @media(min-width: 768px){

         a{margin-right: 20px;}
    }

    @media(min-width: 1200px){display: none;}
}
// Бургер меню
.toggle-menu{
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    position: relative;
    z-index: 5;

    span{
        width: 100%;
        height: 4px;
        background-color: #000;
        margin: auto;
        position: relative;

        &::after,
        &::before{
            content: "";
            width: 100%;
            height: 4px;
            background-color: #000;
            position: absolute;
            left: 0;
            transition: .3s;
        }

        &::after{transform: translateY(10px);}

        &::before{transform: translateY(-10px);}
    }
// Десктоп навигация
    @media(min-width: 1200px){display: none;}
}
// Бургер меню
.active span{height: 0;}

.active span::before{transform: rotate(45deg);}

.active span::after{transform: rotate(-45deg);}

.nav-social{
    display: none;

    @media(min-width: 1200px){display: flex;}
}

.nav-social-item{
    display: block;
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    transition: .7s;

    &:last-child{margin-right: 0;}

    &:hover{
        color: #fbdc4d;
        transition: .5s;
    }
    &:first-child:hover{
        color: #4ac85a;
        transition: .5s;
    }
    &:last-child:hover{
        color: #4d76a1;
        transition: .5s;
    }
    @media(min-width: 1200px){padding-top: 11px}    
}
// ЛОГО____НАВИГАЦИЯ____СОЦИАЛ

// КОНТЕНТ ШАПКИ
.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @media(min-width: 768px){
        display: flex;
        flex-direction: row-reverse;
    }

    @media(min-width: 1200px){padding: 0px;}  
}

.header__content-text{
    width: 100%;
    max-width: 285px;

    @media(min-width: 768px){
        width: 52%;
        max-width: 375px;
    }
    @media(min-width: 1200px){
        width: 49%;
        max-width: 566px;
    }
}

.header__content-text h1{
    margin-bottom: 35px;

    @media(min-width: 768px){
        margin-bottom: 30px;
        padding-top: 20px;
    }
    @media(min-width: 1200px){
        margin-bottom: 16px;
        padding-top: 0px;
    }
}

.header__content-text p{
    margin-bottom: 34px;
    color: #393f47;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    @media(min-width: 1200px){
        font-size: 24px;
        line-height: 36px;
    }
}

.header-title{
    position: relative;
    color: #000000;
    font-size: 42px;
    font-weight: 800;
    z-index: 2;
    line-height: 1.2;

    &:after{
        content: '';
        position: absolute;
        bottom: 10px;
        left: -3px;
        right: -3px;
        height: 12px;
        background-color: #fbdc4d;
        z-index: -1;
    }

    @media(min-width: 768px){
        font-size: 52px;

        &::after{bottom: 12px;}
    }
    @media(min-width: 1200px){
        font-size: 90px;

        &:after{bottom: 22px;}
    }
}

.buttons{  
    display: none;

    @media(min-width: 768px){display: none;}

    @media(min-width: 1200px){
        display: flex;
        align-items: center;

        .button{margin-right: 20px;}

        .button:last-child{margin-right: 0;}
    }
}

.header__content-photo{
    position: relative;
    width: 100%; 
    max-width: 290px;
    height: auto;
    margin-bottom: 60px;

    &::after{
        content: '';
        position: absolute;
        display: block;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 8%;
        left: 8%;
        background: rgb(255, 255, 255);
        background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    }
    @media(min-width: 768px){
        width: 46%; 
        &:after{
            content: '';
            position: absolute;
            display: block;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 5%;
            left: 15%;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
        }
    }
    
    @media(min-width: 1200px){ 
        max-width: 457px;
        padding-top: 27px;

        &:after{
            content: '';
            position: absolute;
            display: block;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 30%;
            left: 30%;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
        }
    }
}

.header__img{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    transform: scale(1.8);

    @media(min-width: 425px){transform: scale(1.5);}

    @media(min-width: 576px){transform: scale(1.2);}

    @media(min-width: 768px){
        margin-top: -116px;
        transform: scale(1);
    }

    @media(min-width: 1200px){
        margin-bottom: 20px;
        margin-top: -189px;
        transform: scale(1);
        max-width: 1600px;
    }
}

#my-skills{
    @media(min-width: 1200px){
        margin-top: -385px;
        padding-top: 350px;
    } 
}

.about__skills-title{
    margin-bottom: 26px;
    color: #000000;
    font-size: 30px;
    font-weight: 800;

    @media(min-width: 768px){font-size: 32px;}
    
    @media(min-width: 1200px){font-size: 40px;}
}

.about__skills{
    width: 100%;

    @media(min-width: 768px){width: 48%;}
    
    @media(min-width: 1200px){width: 53%;}

    .acquaint{
        display: none;
        
        @media(min-width: 1200px){display: inline-block;}  
    }   
}
.about__skills-list{
    margin-bottom: 45px;
    
    @media(min-width: 1200px){margin-bottom: 40px;}
}

.list-item{
    position: relative;
    margin-bottom: 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;

    &:last-child{margin-bottom: 0;}
    
    @media(min-width: 1200px){
        font-size: 24px;
        padding-left: 30px;
        margin-bottom: 3px;
    }
}

.about__social{
    width: 100%;

    @media(min-width: 768px){width: 46%;}
    
    @media(min-width: 1200px){
        width: 32%;
        
        .about__skills-title{margin-bottom: 32px;}
    }
}

.custom::before{
    @media(min-width: 1200px){
        content: "";

        position: absolute;

        top: 18px;
        left: 0px;
        margin: auto;

        display: block;
        width: 22px;
        height: 2px;

        background-color: #000;
    }
}

.item-tel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #039be5;
    transition: .5s;
    &:hover{
        background-color: #4ac85a;
        transition: .5s;
    } 
    
}

.item-vk{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4d76a1;
    transition: .5s;
    &:hover{
        background-color:#6daff7;
        transition: .5s;
    }
}

.item-face{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3b5998;
    transition: .5s;
    &:hover{
        background-color:  #4c83fc;
        transition: .5s;
    }
}

.email{
    position: relative;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    width: fit-content;
    z-index: 2;
    transition: .3s;
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        height: 1px;
        bottom: 2px;
        left: 0;
        right: 0;
        background-color: #000;
        transition: .3s;
    }

    &:hover{
        color: var(--linkhov);
        transition: .3s;
    }

    &:hover::after{
        background-color: var(--linkhov);
        transition: .3s;
    }

    @media(min-width: 1200px){
        padding-left: 5px;
    } 
}
// КОНТЕНТ ШАПКИ
