.section-work{
    min-width: 320px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 65px;
    background-image: url(../img/work/bg-work.jpg);
    background-repeat: repeat-y;
    background-size: auto;
    background-position: center;

    @media(min-width: 768px){
        max-width: 738px;
        padding: 90px 0
    }
    
    @media(min-width: 1200px){
        max-width: 1600px;
        padding: 126px 0;
    }
}

.title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .section-title{
        margin-bottom: 50px;
        font-size: 38px;

        @media(min-width: 768px){
            margin-bottom: 162px;
            font-size: 52px;
        }
        
        @media(min-width: 1200px){
            font-size: 64px;
            margin-bottom: 162px;
        }
    }

    .bottom-line:after{
        bottom: 11px;
        height: 10px;

        @media(min-width: 768px){
            bottom: 14px;
            height: 12px;
        }
        
        @media(min-width: 1200px){
            bottom: 18px;
            height: 12px;
        }
    }
}

.section-work__content{
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    
    @media(min-width: 768px){
        padding-right: 0px;
        max-width: 768px;
    }
    
    @media(min-width: 1200px){
        width: 100%;
        max-width: 1005px;
    }
}

.work-item{
    padding-left: 97px;
    position: relative;
    margin-bottom: 65px;
    min-height: 200px;

    &::after{
        content:'';
        position: absolute;
        width: 4px;
        height: 134px;
        border-radius: 2px;
        background-color: #e1eef4;
        top: 108px;
        bottom: 0;
        left: 37px;
        
    }

    &:first-child::before{
        content:'';
        position: absolute;
        width: 4px;
        border-radius: 2px;
        background-color: #e1eef4;
        right: 0;
        top: 0;
        height: 57px;
        display: none;
    }

    &:last-child::after{
        display: none;
        
    }

    &:last-child{
        margin-bottom: 0;
    }

    @media(min-width: 768px){
        width: 50%;

        &:nth-child(1){
            margin-bottom: 25px;
            padding-left: 25px;
        }

        &:nth-child(2){
            margin-bottom: 44px;
            padding-left: 0;
            &::after{
                left: 0;
                top: 95px;
                height: 111px;
            }
        }

        &:nth-child(3){
            margin-bottom: 44px;
            padding-left: 0;

            &::after{
                height: 128px;
                top: 77px;
            }

            .work-item__text-info{
                margin-bottom: 3px;
            }
            .work-item__text-time{
                padding-right: 2px;
            }
        }

        &:nth-child(4){
            margin-bottom: 15px;
            padding-left: 0;
            &::after{
                left: 0;
                top: 77px;
                height: 98px;
            }
            .work-item__text-title{
                margin-bottom: 7px;
            }
            .work-item__text-info{
                margin-bottom: 4px;
            }
        }

        &:nth-child(5){
            padding-left: 0;
            .work-item__text-title{
                margin-bottom: 7px;
            }
            .work-item__text-info{
                margin-bottom: 3px;
            }
        }
        &::after{
            content:'';
            position: absolute;
            width: 4px;
            height: 108px;
            border-radius: 2px;
            background-color: #e1eef4;
            top: 78px;
            bottom: 0;
            left: 37px;
            
        }
        // общее
        &:nth-child(2n){
            text-align: left;
            margin-left: auto;
            padding-left: 85px;
        }
        // общее
        &:nth-child(2n+1){
            text-align: right;
            padding-right: 78px;
        }
        // общее
        &:nth-child(2n+1) h3{
            text-align: right;
            margin-left: auto;
        }
        // общее
        .work-item__icon{
            top: -18px;
        }
        // общее
        &:nth-child(2n) .work-item__icon{
            left: -37px;
        }
        // общее
        &:nth-child(2n+1) .work-item__icon{
            left:auto;
            right: -37px;
        }
        // общее
        &:nth-child(2n+1)::after{
            left: auto;
            right: 0;
        }
        // общее
        &:first-child::before{
            display: block;
            top: -93px;
        }
    }
}

.work-item__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 74px;
    height: 74px;
    box-shadow: 0 3px 35px rgba(0, 112, 187, 0.35);
    border-radius: 28px;
    background-color: #ffffff;
}

.work-item__text{
    cursor: pointer;

    .bottom-line::after{
        display: none;
    }


    @media(min-width:1200px){

        .work-item__text-title::after{
            height: 7px;
            bottom: 5px;
            left: 0;
            right: 0;
        }

        .bottom-line::after{
            display: block;
            transition: .3s;
        }

        &:hover .bottom-line::after{
            background-color: var(--worklinebtnact) ;
            transition: .3s;
        }
    }
}

.work-item__text-title{
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    z-index: 1;
    margin-bottom: 8px;

    @media(min-width: 768px){
        font-size: 24px;
    }
    
    @media(min-width: 1200px){
        font-size: 26px;
    }

}

.work-item__text-info{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 7px;

    @media(min-width: 768px){
        font-size: 16px;
    }
    
    @media(min-width: 1200px){
        font-size: 18px;
    }
}

.work-item__text-time{
    color: #000000;
    font-size: 14px;
    font-weight: 700;

    @media(min-width: 768px){
        font-size: 18px;
    }
    
    @media(min-width: 1200px){
        
    }
}
