.section-work{
    max-width: 1600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 150px 0;
    background-image: url(../img/work/bg-work.jpg);
    background-repeat: repeat-y;
    background-size: auto;
    background-position: center;
}

.section-work__content{
    width: 100%;
    max-width: 1005px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

